<form action="/cart/additem" method="post">
 <input type="hidden" id="ProductID" name="Itemid" value="3487">
 <input type="hidden" id="ImageUrl" name="ImageUrl" value="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.fotor.com%2Fblog%2Fhow-to-blur-part-of-a-picture%2F&psig=AOvVaw0DGPGpP5HTVHglQxA3N9Ks&ust=1685030047496000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCMCVwtqojv8CFQAAAAAdAAAAABAE">
 <input type="hidden" id="ProductName" name="ItemName" value="Google">
 <input type="hidden" id="Price" name="ItemPrice" value="348">
 <input type="hidden" id="Qty" name="Qty" value="1">
<button type="submit"> AddtoCart</button>
</form>