.dialog{
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #4f46e5;
  width: 25rem;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: #9ca3af;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

.load{
  display: grid !important;
  align-items: center !important;
  justify-content: center !important;
}

#overlay{
  display: none;
  z-index: 1;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}